.event-cards-container {
  margin: 20px;
  margin-right: 40px;

  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  gap: 2rem;
}

.event-card {
  width: 29%;
  background-color: white;
  border-radius: 16px;
  display: flex;
  margin-bottom: 20px;
  padding: 20px;
  box-sizing: border-box;
  height: 18rem;
}

.event-image {
  width: 40%;
  height: auto;
  object-fit: cover;
  margin-right: 20px;
}

.event-details {
  width: 60%;
}

.event-name {
  color: black;
  font-weight: bold;
}
.event-time {
  color: black;
}

.event-type {
  color: gray;
}
